DB_HOST=db
DB_PORT=5432
DB_NAME=<database name>
DB_SCHEMA=<database schema name>
DB_USER=<database user name>
DB_PASSWORD=<database password>
SERVICE_NAME=<your service name>
ELASTIC_ENDPOINT=<your elastic search endpoint>
ELASTIC_USERNAME=<youn elastic username>
ELASTIC_PASSWORD=<your elastic password>

PRIVATE_KEY_PATH=app/keys/private_key.pem
PUBLIC_KEY_PATH=app/keys/public_key.pem