@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: #1a202c; 
  color: white; 
}

.display-none {
  @apply hidden;
}

body {
  
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9; 
}

:root {
  color-scheme: light dark;
}

